.fg_logo_txt{
    width: 100%;
    font-size: 1em !important;
    font-weight: bold !important;
}

.stretch_it{
    white-space: nowrap;
}
.justify{
    text-align:justify;
}
.centralize{
    text-align:center;
}
